// @keyframes transform-box {
//   0% {
//     width: 200px;
//     height: 200px;
//     background-color: $red-500;
//     font-size: 16px;
//     left: 0;
//     top: 0;
//     color: #fff;
//   }

//   50% {
//     width: 300px;
//     height: 300px;
//     background-color: $primery-300;
//     font-size: 20px;
//     transform: translateX(1000px);
//     color: $red-500;
//   }

//   100% {
//     width: 200px;
//     height: 200px;
//     background-color: $red-500;
//     font-size: 16px;
//     left: 0;
//     top: 0;
//     color: #fff;
//   }
// }


@keyframes transform-box {
  0% {
    border-radius: 0;
    width: 200px;
    height: 200px;
    background-color: $red-500;
    font-size: 16px;
    color: #fff;
  }

  100% {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    background-color: $primery-300;
    font-size: 20px;
    transform: translateX(1000px);
    color: $red-500;
  }
}

