.animations-circle-to-box {
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: circle-to-box;

    &:hover {
    }
}
