.c-nav--primery {
    margin-right: 5px;
}

.c-nav__list {
    flex: 1;
}

.c-nav__link {
    flex: 1;
    display: flex;
    align-items: center;
    padding: 5px;
    color: #29394b;
}

.c-nav--primery .c-nav__link:hover {
    text-decoration: none;
    background-color: #f4f5f7;
}

.c-nav--secondary .c-nav__link:hover {
    text-decoration: none;
    color: #44a9f8;
}

.c-nav__link--current {
    position: relative;
}

.c-nav__link--current::before {
    content: "";
    width: 100%;
    height: 4px;
    background-color: #44a9f8;
    position: absolute;
    top: 0;
    left: 0;
}