@import '../settings/_settings-colors.scss';

select {
    background: $gray-50;
    border: 1px solid $secondary-800;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 12px 18px;
    min-height: 44px;
    min-width: 146px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url('../../assets/icons/arrow.svg') 96% / 10% no-repeat $gray-50;

    &:hover {
        cursor: pointer;
    }
    
    &::placeholder {
        color: $gray-500;
    }
}
