.centered-col {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.centered-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.left-aligned-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
}

.right-aligned-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
}

