.c-revealing-list {
    margin: 0;
    padding: 0;
    list-style: none;

    @for $i from 1 through 7 {
        li:nth-child(#{$i}) {
            animation-delay: #{0.03*$i}s;
        }
    }

    &__item {
        margin-bottom: 10px;
        opacity: 0;
        transform: translateX(-400px);
        animation: reveal-left 1s ease-in;
        animation-fill-mode: forwards;
        background: yellow;
    }

    &__link {
        text-decoration: none;
        font-size: 18px;
        color: #000;
    }
}
