@import '../settings/_settings-colors.scss';

.c-program {
    text-align: center;
    margin-bottom: 116px;

    
    &__info {
        margin: 96px auto 64px auto;
        max-width: 850px;
        
        h1 {
            color: $primery-300;
            margin-bottom: 24px;
        }
    }

}