.o-container {
    max-width: 1250px;
    width:100%;
    margin: 0 auto;
}

.o-centered-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.o-start-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.o-centered-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.o-space-btw-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
